#main{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
/* #layer1 { 
    animation-direction: alternate-reverse; 
    animation-duration: 4s; 
}  */
  
/* .layer2 { 
    animation-duration: 5s; 
}  */
  
/* @keyframes slide { 
    0% { 
        transform: translateX(-25%); 
    } 
    100% { 
        transform: translateX(25%); 
    } 
} */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
